.message
  .message-about
    .message-about__user
      test_user  
    %span.message-about__time
      2019/02/13(Wed) 17:50:36
  .message__message
    こんにちは！
.message
  .message-about
    .message-about__user
      test_user  
    %span.message-about__time
      2019/02/13(Wed) 17:50:42
  .message__message
    さようなら！   