.message
  .message-about
    .message-about__user
      = message.user.name
    %span.message-about__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__message
    - if message.content.present?
      %p.message__message__content
        = message.content  
    = image_tag message.image.url, class: 'message__message__image' if message.image.present?