.group-create-message
  グループを作成しました
.menu
  .menu__user
    %p.menu__user__name
      test-user
    %ul.menu__user__icons
      %li.menu__user__icons__new-group
        = link_to '#' do
          %i.fa.fa-edit
      %li.menu__user__icons__edit-user
        = link_to '#' do
          %li.fa.fa-cog    
  %ul.menu__group
    %li.menu__group__list
      test-group
    .test__group--newest-message
      さようなら！
    %li.menu__group__list
      sample-group
    .test__group--newest-message
      hello!
    %li.menu__group__list
      example
    .test__group--newest-message
      まだメッセージがありません
.message-monitor
  .group-details
    .group-details__title
      test-group
    .group-details__member
      Member:test-user
    = link_to 'Edit', '#', class: "edit-button"
  .message-details
    .message-box
      .message-box__user
        test_user  
      %span.message-box__time
        2019/02/13(Wed) 17:50:36
      .message-box__message
        こんにちは！
      .message-box__user
        test_user  
      %span.message-box__time
        2019/02/13(Wed) 17:50:42
      .message-box__message
        さようなら！
    .message-form
      %input.message-input{ type: "text", placeholder: "type a message"}
      %label.upload-label{ for: "upload-icon"}
        %i.fa.fa-picture-o
        %input{ type: "file", style: "display: none", id: "upload-icon"}
      %input.send-button{ type: "submit", value: "Send"}
