.group-create-message
  グループを作成しました
.menu
  .menu__user
    test-user
  %ul.menu__group
    %li.menu__group__list
      test-group
    .test__group--newest-message
      さようなら！
    %li.menu__group__list
      sample-group
    .test__group--newest-message
      hello!
    %li.menu__group__list
      example
    .test__group--newest-message
      まだメッセージがありません

